@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

li {
  list-style: none;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.body-wrapper {
  text-align: center;
}

a {
  text-decoration: none;
}

header {
  height: 75px;
  width: 100%;
  background-color: #2C3A47;
  /* Ubah position ke fixed, dan top ke 0 */
  position: fixed;
  top: 0;
  z-index: 10;
  
  /* Ubah z-index ke 10 */
}

.header-left{
  float: left;
  padding-left: 45px;
}

.header-logo img{
  float: left;
  height: 50px; 
  padding-top: 15px;
  padding-right: 35px;
}

.header-menu{
  width: 200%;
  padding: 25px;
}

.header-left a{
  color: white;
  padding: 10px;
}

.header-right {
  float: right;
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.5s;
}

.header-right:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.header-right a {
  line-height: 75px;
  padding: 0 25px;
  color: white;
  display: block;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading p{
  opacity: 1.0;
  margin-bottom: 3px;
}

.heading h2 {
  font-weight: normal;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.cards li{
  flex: auto;
  margin: 0 auto;
}

.card img:hover{
  transform: scale(1.02);
}

.card-body p{
  position: absolute;
  bottom: 10%;
  width: 100%;
  color: white;
}

.card img, .card .card-body{
  height: 200px;
  width: 380px;
  border-radius: 20px;
}

.card .card-body{
  box-shadow: 0px 0 10px 5px #d0d0d0;
  position: relative;
}

.card {
  float: left;
  padding: 10px;
}

.card p{
  font-weight: bold;
  letter-spacing: 2px;
}

footer img {
  width: 125px;
  margin-top: auto;
}

footer p {
  color: #b3aeb5;
  font-size: 15px;  
  margin-top: 2px;
}

footer {
  padding-top: 15px;  
  text-align: center;
  background-color: #2C3A47;
  color: #fff;
  height: 100px;
}


@media (max-width:1000) {
  
  /* Tetapkan margin dari .flex-list li ke 0 auto */
  .cards li{
    width: 50%;
    margin: 0 auto;
  }
  
}

@media (max-width:670px) {

  .card img, .card .card-body{
    height: 150px;
    width: 250px;
    border-radius: 10px;
  }
  
  .card .card-body{
    box-shadow: 10px #d0d0d0;
    position: relative;
  }

  /* Tetapkan flex-direction milik .flex-list */
  .card li{
    flex-direction: column;
  }
  
  /* Tetapkan margin dari .flex-list li ke 0 auto */
  .card li{
    margin: 0 auto;
  }
  
}

